html {
	height: 100%
}

body {
	height: 100%; margin: 0; padding: 0
}

h2 {
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding-left: 0;
    margin: 0;
    border-top: 2px solid #0066CC;
}

li p {
    text-align: left;
    padding: 5px;
    margin: 0;
}

p.name {
    font-size: 14px;
    font-weight: bold;
}

li:hover {
    background-color: #99CCFF;
    cursor: pointer;
}

hr {
    margin: 0;
    padding: 0;
}

#map-canvas {
	height: 100%
}

.searchBar {
    margin-top: 25px;
    border: 1px solid transparent;
   height: 50px;

}

#list {
    background-color: #fff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0px;
    overflow: auto;
    width: 20%;


}



#search-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
    padding: 0 10px 0 10px;
    width: 500px;
}

#search-input:focus {
    border-color: #0099FF;
}

