html, body {
	margin : 0;
	padding : 0;
	height : 100%;
	width : 100%;
	overflow : visible;
	font-family : 'Roboto', sans-serif;
}

#search-div {
	position : fixed;
	top : 30px;
	right  : 0;
	z-index : 100;
	max-width : 250px;
	max-width : 80%;
	height : 10%;
	padding : 2%;
}

#search-input {
  font-size : 15px;
  line-height : 30px;
  width : 100%;
}

#list-toggle-button {
	width : 200px;
	height : 30px;
	font-size: 16px;
}

#map-canvas {
	margin : 0;
	padding : 0;
	height : 100%;
	height : 100%;
	overflow : visible;
}

#places-list {
	list-style : none;
	padding : 1%;
	text-align : left;
    width : 250px;
    height : 550px;
    height : 80%;
    overflow-x : hidden;
    background-color : white;
	overflow-y : auto;
    box-shadow : 5px 5px 3px 0px rgba(50, 50, 50, 0.75);
}

.no-result {
	z-index : 150;
	position : fixed;
	top : 50px;
	right : 80px;
}

#list-item {
	padding : 2%;
	border-bottom: solid 2px;
}

#list-item :hover {

    cursor: pointer;
}

#list-item .name {
	font-weight : bold;
}

#list-item .address {
	font-weight : normal;
}

#list-div   {
	top : 160px;
	right : 20px;
	position : fixed;
	z-index : 100;
	overflow : visible;
	height : 70%;
	max-width : 40%;
}

#search {
	font-weight : bold;
	font-size : 24px;
	background-color : white;
}

.error {
	display : none;
	position : fixed;
	font-size : xx-large;
	text-align : center;
	left : 0;
	top : 0;
	width : 100%;
	height : 100%;
	z-index : 150;
	background-color : white;
}
