html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0
}

.container {
  height: 100%;
  padding: 0;
  width: 100%;
}

h2 {
    text-align: center;
    background-color: #fff;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding-left: 0;
    margin: 0;
    border-top: 2px solid #06c;
    background-color: #fff;
}

li p {
    text-align: left;
    padding: 5px;
    margin: 0;
}

.name {
    font-size: 14px;
    font-weight: bold;
}

li:hover {
    background-color: #9cf;
    cursor: pointer;
}

hr {
    margin: 0;
    padding: 0;
}

.map {
    display: inline-block;
    width: 100%;


}

.searchBar {
    margin-top: 25px;
    border: 1px solid transparent;
    height: 50px;
    z-index: 100;
    position: relative;
}

.listPlace {
    background-color: #fff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0;
    max-width: 400px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    position: relative;


}

.searchBar {
    background-color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
    padding: 0 10px 0 10px;
    width: 500px;
}

.searchBar:focus {
    border-color: #09f;
}
